.slds-progress_vertical .slds-progress__item{
    align-items: baseline;
}

.slds-progress_vertical .slds-progress__item::after{
    top: 14px;
    bottom: 0%;
}

.slds-progress_vertical .slds-progress__item::before{
    top: 0%;
    bottom: 19px;
}

.slds-card {
   border: 0px 1px 1px 1px solid #DDDBDA;
   border-top: 0px;
}

.borderHeader{
    --slds-c-card-radius-border: 0px 0px 4px 4px !important ;    
}