.customButton{
    transition: box-shadow 215ms ease-in-out, color 215ms ease-in-out;
    border-style: solid;
    padding-right: 1rem;
    padding-top: .4rem;
    padding-bottom: .4rem;
    padding-left: 1rem;
    border-width: 0.1rem;
    border-color: var(--lwc-colorlightBlue);
    border-radius: .5rem;
    text-align: center;
    content: attr(value);
    --slds-c-button-text-color-active: var(--lwc-colorBlack);
    --slds-c-button-text-color-hover: var(--lwc-colorBlack);
}
.customButton::before{
    content: attr(value);
}

.buttonApprove{
    --slds-c-button-text-color: var(--lwc-colorGreen);
    transition: .4s cubic-bezier(.775, .07, .575, .995);
}

.buttonApproveClicked{
    --slds-c-button-text-color: var(--lwc-colorBlack);
    --slds-c-button-color-background: var(---lwc-colorGreen);
    border-color: var(--lwc-colorBlack);  
}

.buttonApprove:hover, .buttonApprove:focus{
    box-shadow: 0 0 2rem 2rem var(--lwc-colorGreen) inset;
    border-color: var(--lwc-colorBlack);
}

.buttonApproveRotate{
    --slds-c-button-text-color: var(--lwc-colorGreen);
    --slds-c-button-text-color-active: var(--lwc-colorGreen);
    --slds-c-button-text-color-hover: var(--lwc-colorGreen);
    transition: .4s cubic-bezier(.775, .07, .575, .995);
    transform: rotateX( 90deg );
}

.buttonApproveIcon{
    z-index: 3;
    pointer-events: none;
    --slds-c-button-text-color: var(--lwc-colorGreen);
    --slds-c-button-text-color-active: var(--lwc-colorGreen);
    --slds-c-button-text-color-hover: var(--lwc-colorGreen);
    clip-path: polygon(21% 40%, 21% 40%, 8% 54%, 25% 68%, 36% 77%, 47% 65%, 48% 64%, 64% 47%, 75% 35%, 93% 13%, 81% 4%, 36% 54%);
    background-color: var(--lwc-colorGreen);
}

.buttonReject{
    --slds-c-button-text-color: var(--lwc-colorRed);
}
.buttonReject:hover, .buttonReject:focus{
    box-shadow: 0 0 2rem 2rem var(--lwc-colorRed) inset;
    border-color: var(--lwc-colorBlack);
}

.buttonRejectClicked{
    --slds-c-button-text-color: var(--lwc-colorBlack);
    --slds-c-button-color-background: var(---lwc-colorRed);
    border-color: var(--lwc-colorBlack);
}

.buttonRejectRotate{
    --slds-c-button-text-color: var(--lwc-colorRed);
    --slds-c-button-text-color-active: var(--lwc-colorRed);
    --slds-c-button-text-color-hover: var(--lwc-colorRed);
    transition: .4s cubic-bezier(.775, .07, .575, .995);
    transform: rotateX( 90deg );
}

.buttonRejectIcon{
    z-index: 3;
    pointer-events: none;
    --slds-c-button-text-color: var(--lwc-colorRed);
    --slds-c-button-text-color-active: var(--lwc-colorRed);
    --slds-c-button-text-color-hover: var(--lwc-colorRed);
    clip-path: polygon(10% 0, 0 10%, 40% 50%, 0 90%, 10% 100%, 49% 60%, 90% 100%, 100% 90%, 60% 50%, 100% 10%, 90% 0, 50% 40%);
    background-color: var(--lwc-colorRed);
}

.buttonPendency{
    --slds-c-button-text-color: var(--lwc-colorOrange);
}
.buttonPendency:hover, .buttonPendency:focus{
    box-shadow: 0 0 2rem 2rem var(--lwc-colorOrange) inset;
    border-color: var(--lwc-colorBlack);
}

.buttonPendencyClicked{
    border-color: var(--lwc-colorBlack);
    --slds-c-button-text-color: var(--lwc-colorBlack);
    --slds-c-button-color-background: var(---lwc-colorOrange);
}

.form-control {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 7px;
}
    
input[type="checkbox"] {
    -webkit-appearance: none;
    appearance: none;
    background-color: #fff;
    margin: 0;
    font-size: 2rem;
    color: black;
    width: 1em;
    height: 1.9rem;
    transform: translateY(-0.075em);
    display: grid;
    place-content: center;
    border-radius: 5px;
    border: 1px solid #ccc;
    cursor: pointer;
}

input[type="checkbox"]::before {
    content: "";
    width: 0.7em;
    height: 0.7em;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    transform-origin: bottom left;
}

.aprovado input[type="checkbox"]::before {
    box-shadow: inset 1em 1em #4bca81;
    border-radius: 50%;
    clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
}
    
.pendenciado input[type="checkbox"]::before {
    display: flex;
    align-items: center;
    justify-content: center;
    content: "\003F";
    color: orange;
}
    
.reprovado input[type="checkbox"]::before {
    box-shadow: inset 1em 1em red;
    clip-path: polygon(20% 0%, 0% 20%, 30% 50%, 0% 80%, 20% 100%, 50% 70%, 80% 100%, 100% 80%, 70% 50%, 100% 20%, 80% 0%, 50% 30%);
}
    
    
input[type="checkbox"]:checked::before {
    transform: scale(1);
}

.inactiveCheckBox{
    cursor: default;
    pointer-events: none;
}

.comboBoxInline {
    display: inline-block;
}