.slds-progress_vertical .slds-progress__item{
    align-items: baseline;
}

.slds-progress_vertical .slds-progress__item::after{
    top: 14px;
    bottom: 0%;
}

.slds-progress_vertical .slds-progress__item::before{
    top: 0%;
    bottom: 19px;
}