.slds-progress_vertical .slds-progress__item{
    align-items: baseline;
}

.slds-progress_vertical .slds-progress__item::after{
    top: 14px;
    bottom: 0%;
}

.slds-progress_vertical .slds-progress__item::before{
    top: 0%;
    bottom: 0%;
}

.slds-icon .slds-input__icon .slds-input__icon_left .slds-icon-text-default{
    position: absolute;
    z-index: 1;
    margin: 0.5% 0 0 92%;
}

.alignSpan{
    align-items: right
}

.colorIconMessage{
    fill:white
}

.colorIconMessage{    
    padding: 8px;    
}